/* ================= Full page modifications ================= */
* {
    margin: 0;
    /* padding: 0; */
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5em;
    /* max-width: 100%; */
    background-color: rgb(18, 45, 105);
    background-image: url(../images/background.jpg);
    background-size: cover;
    color: white;
}

/* img {
    pointer-events:none;
} */

/* ================= Project ================= */
#project {
    margin-left: 20px;
    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
#project::-webkit-scrollbar {
    display: none;
}
  
#project #type {
    max-width: 300px;
    margin-left: auto;
    padding-right: 20px;
    margin-top:150px;
}

#project #type h2{
    padding: 20px 0 20px 0;
    text-align: center;
}
#project #type h4{
    text-align: center;
}

#project img {
    width: 300px;
    padding: 20px 0 20px 0;
    
}

#project #type p{
    text-align: justify;
    line-height: 2em;
}

/* ================= Information ================= */

#avatar {
    width: 150px;
    border-radius: 50%;
    border: 5px solid white;
}

#information #links a {
    color: white;
}

#desc {
    padding-top: 25px;
    text-align:justify;
}
#desc a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
#desc a:hover{
    text-decoration: underline;
    color:lightskyblue;
}

#gallery .gall{
    display: block;
    width: 100px;
    height: 100px;
}    

#img1{
    background-image: url(images/thumbnails/1bw.jpg);
    background-size:100px;
}
#img1:hover{
    background-image: url(images/thumbnails/1c.jpg);
    background-size:100px;
    transition: 0.3s;
}

#img2{
    background-image: url(images/thumbnails/10bw.jpg);
    background-size:100px;
}
#img2:hover{
    background-image: url(images/thumbnails/10c.jpg);
    background-size:100px;
    transition: 0.3s;
}

#img3{
    background-image: url(images/thumbnails/3bw.jpg);
    background-size:100px;
}
#img3:hover{
    background-image: url(images/thumbnails/3c.jpg);
    background-size:100px;
    transition: 0.3s;
}

#img4{
    background-image: url(images/thumbnails/4bw.jpg);
    background-size:100px;
}
#img4:hover{
    background-image: url(images/thumbnails/4c.jpg);
    background-size:100px;
    transition: 0.3s;
}

#img5{
    background-image: url(images/thumbnails/5bw.jpg);
    background-size:100px;
}
#img5:hover{
    background-image: url(images/thumbnails/5c.jpg);
    background-size:100px;
    transition: 0.3s;
}

#img6{
    background-image: url(images/thumbnails/6bw.jpg.png);
    background-size:100px;
}
#img6:hover{
    background-image: url(images/thumbnails/6c.jpg);
    background-size:100px;
    transition: 0.3s;
}

#img7{
    background-image: url(images/thumbnails/7bw.jpg);
    background-size:100px;
}
#img7:hover{
    background-image: url(images/thumbnails/7c.jpg);
    background-size:100px;
    transition: 0.3s;
}

#img8{
    background-image: url(images/thumbnails/8bw.jpg);
    background-size:100px;
}
#img8:hover{
    background-image: url(images/thumbnails/8c.jpg);
    background-size:100px;
    transition: 0.3s;
}

#img9{
    background-image: url(images/thumbnails/9bw.jpg);
    background-size:100px;
}
#img9:hover{
    background-image: url(images/thumbnails/9c.jpg);
    background-size:100px;
    transition: 0.3s;
}



/* ================= Grid and Alignment ================= */

/* Wrapper Grid */
#wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "project info";
    height: 100vh;
    width: 100vw;
}

#project {
    grid-area: project;
    padding-bottom:40px;
}

/* Information Grid */
#information {
    grid-area: info; 
    margin-top: auto;
    margin-bottom: auto;
    padding: 100px 20px 100px 20px;
    max-width: 400px;
}

#header {
    display: grid;
    grid-template-columns: 200px 100%;
    grid-template-rows: auto;
    grid-template-areas: 
        "avatar name "
        "avatar links";
}

#avatar {
    grid-area: avatar;
}

#name {
    grid-area: name;
    margin-top: auto;
    margin-bottom: auto;
}

#links {
    grid-area: links;
}



/* Links Grid */
#links{
    display:grid;
    grid-template-areas: 
        "insta artstation email";
    max-width: 200px;
}

#instagram {
    grid-area: insta;
}

#artstation {
    grid-area: artstation;
}

#email {
    grid-area: email;
}

#information #links a {
    /* padding-right: 30px; */
    margin-top: auto;
    margin-bottom:auto;
    padding-left: 5px;
}
#information #links #instagram:hover{
    color: hotpink;
}
#information #links #artstation:hover{
    color: cyan;
}
#information #links #email:hover{
    color: red;
}
/* #information #links a:hover{
    color:blue;
} */



/* Gallery Grid */
#gallery{
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
    grid-gap: 20px;
    grid-template-areas: 
        "gall1 gall2 gall3"
        "gall4 gall5 gall6"
        "gall7 gall8 gall9";
    padding-top: 30px;
}

#img1 {
    grid-area:gall1;
}

#img2 {
    grid-area:gall2;
}

#img3 {
    grid-area:gall3;
}

#img4 {
    grid-area:gall4;
}

#img5 {
    grid-area:gall5;
}

#img6 {
    grid-area:gall6;
}

#img7 {
    grid-area:gall7;
}

#img8 {
    grid-area:gall8;
}

#img9 {
    grid-area:gall9;
}



/* ================= Mobile Grid and Alignment ================= */

/* Reajusts header to stack on slightly smaller browser windows */
@media(max-width:830px){ 
    #information #header{
        grid-template-columns: 1fr;
        grid-template-areas: 
        "avatar"
        "name"
        "links";
    }

    #name{
        padding-top: 20px;
        padding-bottom: 20px;
    }

    #desc{
        padding-top: 20px;
    }
}



/* Seamless scrolling when not in mobile */
@media(min-width:701px){
    body{
        overflow: hidden;
    }

    #project{
        overflow-y: scroll;
    }
}



/* Alignment for Mobile */
 @media(max-width:700px){

    /* full page */
    body{
        /* overflow: visible; */
        min-width: 100%;
        overflow-x: hidden;
    }

    #wrapper{
        grid-template-columns: 1fr;
        grid-template-areas: 
            "info"
            "project";
        height: auto;
        /* overflow-x: hidden; */
    }

    /* information */
    #information{
        margin-top: 20px;
        margin-bottom:50px;
        padding: 0 0 0 0;
        max-width: 100%;
    }

    #information #header{
        grid-template-columns: 1fr;
        grid-template-areas: 
        "avatar"
        "name"
        "links";
    }

    #information #avatar{
        margin-left:auto;
        margin-right:auto;
    }

    #information #name{
        padding-top: 20px;
        padding-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
    }

    #information #links{
        margin-left: auto;
        margin-right: auto;
    }

    #information #artstation{
        padding-left:20px;
        padding-right: 20px;
    }

    #information #desc{
        padding-top: 20px;
        margin-left: 20px;
        padding-right: 40px;
    }

    #information #gallery{
        grid-gap:2%;
        justify-content: center;
        padding-right: 20px;
    }

    /* project */
    #project{
        padding-right: 20px;
    }

    #project #type{
        max-width: 100%;
        margin-top:0px;
    } 

    #project img{
        width:100%;
    }

    #img1{
        background-image: url(images/thumbnails/1c.jpg);
        background-size:100px;
    }
    
    
    #img2{
        background-image: url(images/thumbnails/10c.jpg);
        background-size:100px;
    }
    
    #img3{
        background-image: url(images/thumbnails/3c.jpg);
        background-size:100px;
    }
    
    #img4{
        background-image: url(images/thumbnails/4c.jpg);
        background-size:100px;
    }
    
    #img5{
        background-image: url(images/thumbnails/5c.jpg);
        background-size:100px;
    }
    
    #img6{
        background-image: url(images/thumbnails/6c.jpg);
        background-size:100px;
    }
    
    #img7{
        background-image: url(images/thumbnails/7c.jpg);
        background-size:100px;
    }
    
    #img8{
        background-image: url(images/thumbnails/8c.jpg);
        background-size:100px;
    }

    #img9{
        background-image: url(images/thumbnails/9c.jpg);
        background-size:100px;
    }
    

    
}


/* Exclusively mobile alignments */
@media(max-width:495px){

    #information #desc{
        padding-right: 30px;
    }

    #information #gallery{
        padding-right: 0px;
    }

    #project{
            margin-left: 20px;
            padding-right: 20px;

    }

    #project #type{
        padding-right:10px;
    } 
}